---
import { getCollection } from 'astro:content';

import Layout from '@layouts/Layout.astro';


export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}


const post  = Astro.props;

const { Content } = await post.render();
---

<Layout title={post.data.title}>
	<main class="container body-font mt-10 md:mt-20 m-auto w-5/6 lg:w-3/5 mb-24">
		<img src={post.data.image} alt={post.data.title} class="w-full h-96 object-cover object-center rounded-lg mb-8" alt='noticia-imagen' />
    <h1 class="sm:text-3xl text-2xl font-semibold title-font text-gray-900 my-10 text-center">{post.data.title}</h1>
		{ post.data.description && <p class="text-center italic text-lg font-medium text-indigo-700 mb-10">{post.data.description}</description>}
			
		<article  class="[&>*]:mt-6 font-medium leading-relaxed md:text-lg text-gray-600">
			<Content/>
		</article>
	  
	</main>
</Layout>
	