---
/* eslint-disable astro/no-set-html-directive */
import ImageRemote from './ImageRemote.astro';
import MapsIcon from './MapsIcon.astro'
const { place } = Astro.props

const { image, title, web, body, maps, imageComment, sourceImage, tel } = place;
---

<section class='text-gray-600 body-font'>
	<div
		class='container mx-auto flex px-5 py-24 md:flex-row flex-col items-center'
	>
		<figure class='lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0'>
			<ImageRemote
				class='object-cover object-center rounded'
				alt=''
				src={image}
				loading='lazy'
			/>
			{
				imageComment && (
					<figcaption class='text-center w-full mt-4 leading-relaxed'>
						{!sourceImage && <p>{imageComment}</p>}
						{sourceImage && <a href={sourceImage}>{imageComment}</a>}
					</figcaption>
				)
			}
		</figure>
		<div
			class='lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center'
		>
			<h1
				class='title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900'
			>
				{title}
			</h1>

			<p class='leading-relaxed' set:html={body} />
			<div class='flex flex-wrap flex-auto gap-4'>
				{
					maps.map((map) => (
						<a
							aria-label='Google Maps'
							class='inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg mt-8'
							target='_blank'
							rel='noopener noreferrer'
							href={map}
						>
							<MapsIcon />
						</a>
					))
				}
				{
					web && (
						<a
							target='_blank'
							rel='noopener noreferrer'
							class='inline-flex text-gray-700 bg-gray-100 border-0 py-2 px-6 focus:outline-none hover:bg-gray-200 rounded text-lg mt-8'
							href={web}
						>
							Web
						</a>
					)
				}
				{
					tel?.map(num => (
						<a
							target='_blank'
							rel='noopener noreferrer'
							class='inline-flex text-gray-700 bg-gray-100 border-0 py-2 px-6 focus:outline-none hover:bg-gray-200 rounded text-lg mt-8'
							href={`tel:+34${num.replace(/\s+/g, '')}`}
						>
							{num}
						</a>
					))
				}
			</div>
		</div>
	</div>
</section>
