---
import { RSS } from "../config";

const {className} = Astro.props;
---

<div class={className}>
    <a
      href={RSS.TELEGRAM}
      target="_blank"
      rel="noopener noreferrer"
      class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full bg-indigo-500 flex-shrink-0"
    >
      <img src="/icons/telegram.svg" alt="telegram" class="h-5 w-5" />
    </a>
    <a
      href={RSS.INSTAGRAM}
      target="_blank"
      rel="noopener noreferrer"
      class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full bg-indigo-500 flex-shrink-0"
    >
      <img src="/icons/instagram.svg" alt="instagram" class="h-5 w-5" />
    </a>

    <a
      href={RSS.FACEBOOK}
      target="_blank"
      rel="noopener noreferrer"
      class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full bg-indigo-500 flex-shrink-0"
    >
      <img src="/icons/facebook.svg" alt="facebook" class="h-5 w-5" />
    </a>
</div>
